[submodule "deeponet"]
	url = https://github.com/pzimbrod/deeponet.git
	path = deeponet
	branch = master
	update = merge

[submomdule "dgtest"]
	url = https://github.com/pzimbrod/dgtest.git
	path = dgtest
	branch = main
	update = merge